@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body,html{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    background: rgb(45, 44, 47);
    /* min-height: 450px; */
}

h1{
    font-weight: bold;
    color: white;
}

button{
    border: none;
    background: grey;
    padding: 8px 16px;
    border-radius: 5px;
    font-family: inherit;
    color: white;
}

textarea{
    background: #fff09d;
    border: none;
    outline: none;
    overflow-x: hidden;
    text-emphasis: wrap;
    resize: none;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.form-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
    width: 240px;
}

#newNote{
    background-color: #00c853;
}
#deleteNote{
    background-color: #d50000;
}