@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body,html{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    /* min-height: 450px; */
}

h1{
    font-weight: bold;
    color: white;
}

button{
    border: none;
    background: grey;
    padding: 8px 16px;
    border-radius: 5px;
    font-family: inherit;
    color: white;
}

textarea{
    background: #f3f3f3;
    border: none;
    outline: none;
    overflow-x: hidden;
    text-emphasis: wrap;
    resize: none;
    font-family: inherit;
    padding: 8px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.form-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
    width: 240px;
}

#newNote{
    position: absolute;
    top: 290px;
    left: 84%;
}
#deleteNote{
    position: absolute;
    top: 250px;
    left: 84%
}

.button-container{
    position: relative;
}

.notes{
    display: block;
    width: 100%;
    position: absolute;
    border: none;
    top: -40px;
    padding: 12px 8px;
    outline: none;
    -webkit-appearance: none;
    background: url('./images/select.png') no-repeat 95% 50% #e1e1e1;
    font-weight: bold;
    font-family: inherit;
    color: #4d4c4c;
}

.notes:hover{
    cursor: pointer;
    background: url('./images/select.png') no-repeat 95% 50% #c7c7c7;
}